
// ドロワーを左右から展開する
[data-drawer-move="left"] {

	.p-spMenu {
		z-index: 1; //ロゴなどより上に
		padding-top: 0;
		background: rgba(#000, 0.5);
		transition: opacity 0.1s, visibility 0.1s;
		transition-delay: 0s;
		pointer-events: none; //.c-overlayをクリックできるように
	}

	&[data-drawer="closed"] {

		.p-spMenu {
			transition-delay: 0.5s;
		}
	}

	// .l-header__menuBtn {
	//     z-index: 2; //メニューボタンだけ押せるように
	// }

	.p-spMenu__inner {
		left: 0;
		width: 88vw;
		padding-top: var(--header_height);
		color: #333;
		background: #fff;
		transform: translateX(-100%);
		transition: transform 0.5s;
		transition-delay: 0.1s;
		pointer-events: auto;

		@include pc {
			width: 480px;
		}
	}


	&[data-drawer="opened"] .l-header__menuBtn {
		color: #333;
	}

	&[data-drawer="opened"] .p-spMenu__inner {
		transform: translateX(0);
	}

}
