@charset "utf-8";

/*
 * 管理画面で読み込むCSS
 */

// mixin
@import "mixin/**";

// 投稿一覧テーブル
.wp-list-table {

	img {
		max-width: 100%;
	}

	.column-post_id,
	.column-term_id {
		width: 60px;
	}

	.column-thumbnail {
		width: 120px;
	}

	// 「カウント」の ▼ が下にいくのを防ぐ
	.column-posts {
		width: 96px;
	}

	.ark-shortcode {
		width: 100%;
	}
}
