@charset "utf-8";

/*
 * 管理画面で読み込むCSS
 */

// mixin
// @import "mixin/**";

// inc
@import "inc/media_uploader";

// 管理メニュー
.toplevel_page_arkhe_toolkit_settings {

	.wp-menu-image img {
		width: 20px;
		height: 20px;
		padding-top: 6px !important;
	}
}

// 投稿一覧テーブル
.wp-list-table {

	img {
		max-width: 100%;
	}

	.column-post_id,
	.column-term_id {
		width: 60px;
	}

	.column-thumbnail {
		width: 120px;
	}

	// 「カウント」の ▼ が下にいくのを防ぐ
	.column-posts {
		width: 96px;
	}

	.ark-shortcode {
		width: 100%;
	}
}
