@charset "utf-8";

/*
 * 管理画面で読み込むCSS
 */

// mixin
@import "mixin/**";

// 投稿一覧テーブル
.wp-list-table {

	img {
		max-width: 100%;
	}

	#post_id,
	#term_id {
		width: 60px;
	}

	#thumbnail {
		width: 120px;
	}
}

// 設定ページ
// #wpcontent {
// 	padding: 40px;
// }

.arkhe-menu {

	h1.arkhe-menu__title {
		font-size: 2em;
	}

	h2 {
		margin: 2em 0 1em;
		padding: 8px 12px;
		font-size: 1.5em;
		// border-bottom: 1px solid #000;
		border-left: 4px solid #000;
	}

	// h3 {
	// 	margin: 2em 0 1em;
	// 	padding: 4px 12px;
	// 	font-size: 1.25em;
	// 	border-left: 4px solid #000;
	// }

	td > :first-child {
		margin-top: 0 !important;
	}

	.form-table {
		display: block;

		th {
			display: none;
		}

		tbody,
		tr,
		td {
			display: block;
		}
	}

}

.arkhe-menu__body {
	padding: 0 20px;
}

.arkhe-menu__field {

	margin-top: 16px;

	&.-text {
		display: flex;

		.arkhe-menu__label {
			display: block;
			min-width: 12em;
		}
	}


	&.-radio {

		.arkhe-menu__label {
			display: block;
			padding: 8px 0;
		}
	}

	&.-checkbox {

		.arkhe-menu__label {
			display: block;
			padding: 4px 0;
		}
	}
}
