// .wp-full-overlay-sidebar-content {
// 	background: #eff0f3;
// }

// #customize-controls .control-section:hover > .accordion-section-title,
// #customize-controls .control-section .accordion-section-title:hover,
// #customize-controls .control-section.open .accordion-section-title,
// #customize-controls .control-section .accordion-section-title:focus {
// 	background: #eff0f3;
// }

$tertiary: #d9376e;

.customize-control.-toolkit {

	.customize-control-title.-big {
		position: relative;

		&::before {
			display: inline-block;
			margin-right: 0.5em;
			padding: 0 0.5em;
			color: #fff;
			font-size: 12px;
			background: $tertiary;
			border-radius: 2px;
			content: "Toolkit";
		}
	}
}

.-toolkit.-btn-layout {

	.customize-inside-control-row {
		display: flex;
		align-items: center;
		margin: 8px 0;
	}

	input {
		margin: 0 8px 0 0;
	}

	label {
		display: inline-block;
		width: calc(100% - 40px);
		height: 32px;
		color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

[for="_customize-input-arkhe_toolkit_customizer[header_btn_layout]-radio-l-r"] {
	background: url(../../assets/img/header-L-R.png);
}

[for="_customize-input-arkhe_toolkit_customizer[header_btn_layout]-radio-r-l"] {
	background: url(../../assets/img/header-R-L.png);
}

[for="_customize-input-arkhe_toolkit_customizer[header_btn_layout]-radio-rl-rr"] {
	background: url(../../assets/img/header-RL-RR.png);
}

[for="_customize-input-arkhe_toolkit_customizer[header_btn_layout]-radio-rr-rl"] {
	background: url(../../assets/img/header-RR-RL.png);
}
