@charset "utf-8";

/*
 * ツールバー用のCSS
 */
#wpadminbar .ab-icon.-arkhe {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;

	svg {
		width: 20px !important;
		fill: currentColor;
	}
}
